.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.th {
  font-family: var(--font-heading);
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--medium);
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: var(--background);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.tr {
  transition: background-color 0.2s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.tr:hover {
  background-color: #FAFAFA;
}

.td {
  padding: 1rem 1.5rem;
  font-size: 0.95rem;
  color: var(--black);
  font-family: var(--font-body);
}
